*{
  text-align: center;
  background-color: whitesmoke;
}
.main{
  margin-top: 50px;
}

table {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
img{
  width: 64px;
  height: 64px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

button{
  border: none;
  border-radius: 2px;
}

.delete-button{
  background-color: rgb(238, 81, 81);
}

.random-button{
  background-color: rgb(153, 153, 225);
}
.sort-by-name-button{
  background-color: rgb(189, 179, 179);
}
.sort-by-pop-button{
  background-color: rgb(201, 232, 201);
}